*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Baloo Bhai 2', cursive;
font-family: 'Baloo Bhaina 2', cursive;

    color: black;
}
body{
    background-color: rgb(246, 243, 243);
}
header{
    /* border: 2px solid rgb(0, 0, 0); */
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}
#logo{
    /* border: 2px solid rgb(0, 0, 0); */
    height: 50px;
    width: 230px;
    background-image:url(/img/download\ \(1\).webp);
    background-repeat: no-repeat;
    background-position: center;

}
#menu{
    /* border: 2px solid rgb(0, 0, 0); */
    height: 50px;
    width: 700px;

}
#menu li a{
    text-decoration: none;
    font-weight: 600px;
    font-size: 19px;
    color: black;
    /* transition: all 2s; */
}
#menu li a:hover{
    text-decoration: underline;
    text-decoration-color: red;
    text-decoration-thickness: 12%;

}

   
#menu li{
    list-style: none;
    
}
#menu ol{
    margin-top:9px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    
}
#services{
    /* border: 2px solid rgb(0, 0, 0); */
    height: 50px;
    width: 230px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#services img{
    height: 18px;
    width: 30px;
}
#services div a{
    text-decoration: none;
    font-size: 17px;
    font-weight: 525;
    color: rgba(0, 0, 0, 0.587);
}
.box{
    /* border: 2px solid black; */
    
    margin: 10px;margin-top: 15px;
    margin-right: 0px;
    width: 50%;
  
}
section{
    display: flex;
    height: 590px;
    /* border: 2px solid black; */
}
#limg{
    width: 50%;
    /* margin: 5px; */
    background-image: url(/img/category-1.jpg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#rimg{
    width: 50%;
    /* margin: 5px; */
    display: flex;
    flex-wrap: wrap;
    
}
.rb{
    /* border: 2px solid black; */
    width: 49%;
    margin: 5px;
    height: 49.5%;margin-top: 0px;
    margin-left: 2px;
}
.rb img{
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    
}
#rb1{
background-image: url(/img/category-2.jpg.webp);
background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
#rb2{
    background-image: url(/img/category-3.jpg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#rb3{
    background-image: url(/img/category-4.jpg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#rb4{
    background-image: url(/img/category-5.jpg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
a .act:hover, a .act:active{
    text-decoration: underline;
    text-decoration-color: red;
    text-decoration-thickness: 12%;
}
.shopp{
    font-weight: 700;
    font-family: 'DM Sans', sans-serif;
    font-size: small;
    text-decoration: underline;
    text-decoration-color: red;
    text-decoration-thickness: 17%;
    text-underline-offset: 4px;
}
#limg>div>div{
    text-align: left;
    margin-left: 50px;
   
}
#limg>div {
    margin-top: 225px;
   
}
#wf{
    font-family: 'Style Script', cursive;
    font-size: 54px;
    font-weight: 600;
   
}
.dim{
    color: rgba(0, 0, 0, 0.454);

}
.rbold{
    font-weight: 700;
    font-size: 25px;
}
.rb>div{
    margin-left: 25px;
    margin-top: 80px;
    padding: 5px;
}